<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd" >
<!-- 
	RECOMMENDATION: Configure your file appender to write to "log" directory.
					If this recommendation is violated your log records will
					be invisible for the central logging tools.
-->
<log4j:configuration>
	<!-- DO NOT CHANGE THE FILE LOCATION OF THIS APPENDER -->
	<appender name="ljs" class="com.sap.core.js.logging.LJSAppender">
		<param name="Encoding" value="UTF-8" />
		<param name="maxFileSize" value="10MB" />
		<param name="maxBackupIndex" value="10" />
		<param name="File" value="log/ljs_trace.log" /> <!-- should be .glf for AGS -->
		<layout class="com.sap.core.js.logging.LJSPatternLayout">
			<param name="ConversionPattern" value="%1d{yyyy MM dd HH:mm:ss}#%o#%p#%c#%a#%u#%t#%b#%z#%m%n" />
		</layout>
		<filter class="com.sap.core.js.logging.filter.LoggerMatchFilter">
			<param name="LoggerToMatch" value="System.out" />
			<param name="LoggerToMatch" value="System.err" />					
			<param name="AcceptOnMatch" value="true" />
		</filter>
		<filter class="com.sap.core.js.logging.filter.LoggerMatchFilter">
			<param name="LoggerToMatch" value="com.sap.js.ach.manager.impl.ACHFieldProvider" />
			<param name="LoggerToMatch" value="com.sap.js.ach.manager.impl.BundleNameFieldProvider" />
			<param name="LoggerToMatch" value="LJS Mass Configuration" />
			<param name="LoggerToMatch" value="audit" />
			<param name="AcceptOnMatch" value="false" />
		</filter>
	</appender>
	
    <!-- This is SDK version of the log4j.xml -->
	<appender name="jpaas_audit_log" class="com.sap.core.js.logging.LJSAppender">
		<param name="Encoding" value="UTF-8" />
		<param name="maxFileSize" value="10MB" />
		<param name="maxBackupIndex" value="10" />
		<param name="File" value="log/jpaas_audit_log.log" /> <!-- should be .glf for AGS -->
		<layout class="com.sap.core.js.logging.LJSPatternLayout">
			<param name="ConversionPattern" value="%1d{yyyy MM dd HH:mm:ss}#%o#%p#%c#%a#%u#%t#%b#%z#%w#%m%n" />
		</layout>
	</appender>

	<appender name="ljs_console" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%m%n" />
		</layout>
	</appender>
	
	<appender name="ljs_field" class="com.sap.core.js.logging.LJSAppender">
		<param name="Encoding" value="UTF-8" />
		<param name="maxFileSize" value="10MB" />
		<param name="maxBackupIndex" value="3" />
		<param name="File" value="log/ljs_fieldprovider.log" />
		<layout class="com.sap.core.js.logging.LJSPatternLayout">
			<param name="ConversionPattern" value="%1d{yyyy MM dd HH:mm:ss}#%p#%c#%t#%m%n" />
		</layout>
	</appender>
	
	<appender name="ljs_mass_cfg" class="com.sap.core.js.logging.LJSAppender">
	    <param name="Encoding" value="UTF-8" />
	    <param name="maxFileSize" value="10MB"/>
	    <param name="maxBackupIndex" value="3"/>
        <param name="File" value="log/ljs_mass_cfg.log" />
        <param name="Append" value="true" />
        <layout class="com.sap.core.js.logging.LJSPatternLayout">
            <param name="ConversionPattern" value="%1d{yyyy MM dd HH:mm:ss}#%p#%c#%t#%m%n"/>
        </layout>           
    </appender>

	<logger name="System">
  		<level value="all"/>
  		<appender-ref ref="ljs_console" />
	</logger>
	
	<logger name="com.sap.js.ach.manager.impl.ACHFieldProvider">
  		<level value="error"/>
  		<appender-ref ref="ljs_field" />
	</logger>
	
	<logger name="com.sap.js.ach.manager.impl.BundleNameFieldProvider">
  		<level value="error"/>
  		<appender-ref ref="ljs_field" />
	</logger>
	
	<logger name="LJS Mass Configuration">
        <level value="info"/>
	    <appender-ref ref="ljs_mass_cfg"/>
    </logger>

        <logger name="audit">
          <level value="all"/>
          <appender-ref ref="jpaas_audit_log"/>
        </logger>	
	
	<root>
		<priority value="error"></priority>
		<appender-ref ref="ljs" />
	</root>

</log4j:configuration>
