BASIC {
   com.sap.security.auth.module.basic.PasswordLoginModule sufficient;
};

BASICSSO {
   com.sap.security.auth.module.basic.PasswordLoginModule sufficient;
   com.sap.core.jpaas.security.saml2.sp.loginmodule.SAML2JPaaSLoginModule sufficient mode=passive;
};

FORM {
   com.sap.security.auth.module.basic.PasswordLoginModule sufficient;
   com.sap.core.jpaas.security.saml2.sp.loginmodule.SAML2JPaaSLoginModule sufficient mode=passive;
};

CLIENT-CERT {
   com.sap.security.auth.module.basic.PasswordLoginModule sufficient;
   com.sap.core.jpaas.security.saml2.sp.loginmodule.SAML2JPaaSLoginModule sufficient mode=passive;
};

DIGEST {
   com.sap.security.auth.module.basic.PasswordLoginModule sufficient;
   com.sap.core.jpaas.security.saml2.sp.loginmodule.SAML2JPaaSLoginModule sufficient mode=passive;
};

SAML2 {
   com.sap.security.auth.module.basic.PasswordLoginModule sufficient;
   com.sap.core.jpaas.security.saml2.sp.loginmodule.SAML2JPaaSLoginModule sufficient mode=passive;
};

BASICTEST {
       com.sap.security.auth.module.basic.PasswordLoginModule sufficient;
       com.sap.core.jpaas.security.saml2.sp.loginmodule.SAML2JPaaSLoginModule sufficient mode=passive;
};

FORMTEST {
       com.sap.core.jpaas.security.saml2.sp.loginmodule.SAML2JPaaSLoginModule sufficient;
       com.sap.security.auth.module.basic.PasswordLoginModule sufficient;
};

SAML2TEST {
       com.sap.core.jpaas.security.saml2.sp.loginmodule.SAML2JPaaSLoginModule sufficient;
};

SAML2OLD {
   com.sap.security.saml2.sp.SAML2LoginModule sufficient provider=jpaas.developer;
};
